@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background-color: #d1d0df; 
}


/*Common device*/
.header {
    background-color: #0d0677;
    position: relative;
    height: 70px;
    width: 98%;
    top: 10px;
    left: 1%;
    right: 1%;
    box-shadow: 0 1.5px 40px rgb(38, 34, 68),
                0 0 30px black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-style: solid;
    border-color: #00b8e6;
    border-width: 2px;
    transition: 0.5s;
}

.title a {
    color: #d1d0df;
    font-size: 40px;
    text-decoration: none;
    font-family: "Righteous";
    position: absolute;
    top: 9px;
    left: 30px;
    text-shadow: 0 0 40px rgb(0, 0, 255),
                 0 5px 60px rgb(0, 0, 255),
                 0 0 30px rgb(94, 94, 255);
    transition: 0.25s;
    
}

.title a:hover {
    cursor: pointer;
    font-size: 45px;
    top: 6.5px;
    left: 27px;
    text-shadow: 0 0 40px rgb(134, 134, 255),
                 0 5px 60px rgb(84, 84, 255),
                 0 0 30px rgb(94, 94, 255);
    color: azure;
}

.title a:active {
    color: black;
}





@media (max-width: 500px){
    .header {
    background-color: #0d0677;
    position: relative;
    height: 55px;
    width: 97%;
    top: 10px;
    left: 1.5%;
    right: 1.5%;
    box-shadow: 0 1.5px 40px rgb(38, 34, 68),
                0 0 30px black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-style: solid;
    border-color: #00b8e6;
    border-width: 1.5px;
    }

    .title a {
        font-size: 26px;
        top: 12px;
        left: 23px;
        transition: 0.2;
    }

    .title a:hover {
    cursor: pointer;
    font-size: 30px;
    top: 9px;
    left: 24px;
    text-shadow: 0 0 40px rgb(134, 134, 255),
                 0 5px 60px rgb(84, 84, 255),
                 0 0 30px rgb(94, 94, 255);
    color: azure;
    }
}